/* Blanco */
/* A RapidWeaver theme by Will Woodgate */
/* Visit www.themeflood.com for details */

body {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	background: #ffffff;
}

#mainContainer {
	width: 900px;
	margin: 0 auto;
	text-align: left;
}

.clearer {
	clear: both;
}

.spacer {
	height: 25px;
}

.smallSpacer {
	display: block;
	height: 10px;
	background: transparent;
}

/* @group Basics */

b, strong {
	font-weight: bold;
}

a {
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
	color: #999999;
}

a:hover {
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	color: #000;
}

blockquote, .standout { 
	padding: 10px;
	margin: 0px;
}

dl {
	margin: 0px;
	padding: 0px;
}

dt {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

dd {
	margin-top: 0px;
	padding-top: 0px;
}

em {
	font-weight: bold;
	font-style: italic;
}

ins {	
}

q {
	font-style: italic;
}

strike {
	color: red;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	padding: 0;
	line-height: 1.00em;
	margin: 0 0 -15px;
}

img {
	border: none;
}

.image-right {
	float: right;
	margin-right: 0px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	z-index: 5;
}

.image-left {
	float: left;
	margin-left: 0px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	z-index: 5;
}

#contentContainer #content ul {
}

#contentContainer #content li {
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}
/* Sidebar area unordered list styles */
#sidebarContainer #sidebar ul {
}

#sidebarContainer #sidebar li {
}

/* @end */

/* @group Site Logo's */

#logoLeft {
	display: none;
	border: none;
	text-decoration: none;
}

#logoRight {
	display: none;
	border: none;
	text-decoration: none;
}

#headerLogo {
	display: none;
	border: none;
	text-decoration: none;
}

#sidebarLogo {
	display: none;
}

#footerLogo {
	display: none;
}

/* @end */

/* @group Header */

#headerContainer {
	height: 80px;
	display: block;
	position: relative;
	margin: 0;
	padding: 25px 0 0;
	z-index: 100;
}

#widthWrapper {
	margin: 0px auto;
	text-align: left;
	z-index: 100;
	padding: 0;
}

#headerContainer h1 {
	margin: 0;
	padding: 0;
}

#headerContainer h1 a {
	display: inline;
	float: left;
	position: relative;
	text-decoration: none;
	background: transparent;
	margin: 0;
	padding: 0;
	font: 1.50em/1.00em Georgia, "Times New Roman", Times, serif;
	color: #6699cc;
}

/* @end */

/* @group Site Slogan */

#subHeading {
	height: auto;
	display: block;
	position: relative;
	padding-top: 20px;
	border-top: 1px solid #ccc;
}

#subHeading h2 {
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
	font-weight: normal;
	position: relative;
	height: auto;
	font: 1.50em/1.00em Georgia, "Times New Roman", Times, serif;
	color: #6699cc;
}

/* @end */

/* @group Horizontal Navigation Links */

#primaryNavigationSpacer {
	background: transparent;
}

#headerContainer ul {
	line-height : 1.25em;
	float: right;
	list-style-type: none;
	position: relative;
	display: inline;
	text-align: center;
	padding: 0;
	margin: 18px 0 0;
}

#headerContainer li {
	line-height : 1.25em;
	display: inline;
	text-align: center;
}

#headerContainer li a {
	float: left;
	padding: 3px 15px;
	margin: 0;
	border-left: 1px solid #999999;
	font: 95%/1.00em Palatino, "Times New Roman", Times, serif;
	color: #999;
}

#headerContainer li:first-child a {
	border-left: none;
}

#headerContainer a:link,
#headerContainer a:visited {
	font-weight: normal;
	text-decoration: none;
	display: inline;
	margin: 0;
	text-align: center;
	padding-bottom: 3px;
	padding-top: 3px;
}

#headerContainer ul ul {
	display: none;
}

#headerContainer ul li a {
	display: none;
}

#headerContainer ul li a:hover {
	text-decoration: none;
	font-weight: normal;
	color: #1b5191;
}

#headerContainer ul li .current,
#headerContainer ul li .current:hover,
#headerContainer ul li a.active {
	text-decoration: none;
	font-weight: normal;
}

/* @end */

/* @group Content Container */

#contentContainer {
	overflow: hidden;
	z-index: 10;
	margin: 0;
	padding: 5px 0px 15px;
}

#contentContainer #content {
	padding: 0;
	margin: 0;
	color: #999;
	font: 85%/1.50em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @end */



/* @group Breadcrumb Links */

#breadcrumbcontainer {
	display: block;
	margin: 0;
	padding: 0;
	color: #999;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	line-height: 1.25em;
}

#breadcrumbcontainer a {
	text-decoration: none;
}

#breadcrumbcontainer a:hover {
	text-decoration: none;
}

#breadcrumbcontainer ul {
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

#breadcrumbcontainer li {
	display: inline;
}

/* @end */



/* @group Footer */

#footer {	
	text-align: left;
	padding-top: 20px;
	border-top: 1px solid #ccc;
	margin: 0 0 20px;
	background-color: transparent;
	color: #999;
	font: 80%/1.25em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#footer a {
	text-decoration: none;
}

#footer a:hover {
	text-decoration: none;
}

#blankocred a {
	color: #f8f8f8;
}

#blankocred a:hover {
	color: #d5d5d5;
	text-decoration: none;
}

/* @end */

/* @group Vertical Navigation */

/* Toolbar Styles */

#verticalNavigation {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0 0 20px;
	font: 95%/1.00em Palatino, "Times New Roman", Times, serif;
	color: #999;
}

#verticalNavigation .current:hover,
#verticalNavigation ul .current:hover,
#verticalNavigation ul ul .current:hover,
#verticalNavigation ul ul ul .current:hover {
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
}

#verticalNavigation .current,
#verticalNavigation ul .current,
#verticalNavigation ul ul .current,
#verticalNavigation ul ul ul .current {
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
}

/* Parent - Level 0 */

#verticalNavigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#verticalNavigation li {
	position: relative;
	display: inline;
}

#verticalNavigation a {
	display: none;
	text-decoration: none;
}

#verticalNavigation a:hover {
	text-decoration: none;
	font-style: normal;
	color: #1b5191;
}

#verticalNavigation a:active {
	text-decoration: none;
	font-style: normal;
}

#verticalNavigation a:link {
	text-decoration: none;
	font-style: normal;
}

/* Parent Level */

#verticalNavigation ul a {
	display: none;
	background-image: none;
	font-style: normal;
	font: 95%/1.00em Palatino, "Times New Roman", Times, serif;
	color: #999;
}

/* Child - Level 1 */

#verticalNavigation ul ul a {
	display: block;
	background-image: none;
	font-style: normal;
	padding: 5px 0;
	margin: 0 0 2px;
	font: 95%/1.00em Palatino, "Times New Roman", Times, serif;
	color: #999;
}

/* Child - Level 2 */

#verticalNavigation ul ul ul a {
	display: block;
	background-image: none;
	font-style: normal;
	font: 95%/1.00em Palatino, "Times New Roman", Times, serif;
	color: #999;
	padding: 5px 15px;
}

/* Child - Level 3 */

#verticalNavigation ul ul ul ul a {
	display: block;
	background-image: none;
	font-style: normal;
	font: 95%/1.00em Palatino, "Times New Roman", Times, serif;
	color: #999;
	padding: 5px 30px;
}

/* Child - Level 4 */

#verticalNavigation ul ul ul ul ul a {
	display: block;
	background-image: none;
	font-style: normal;
	font: 95%/1.00em Palatino, "Times New Roman", Times, serif;
	color: #999;
	padding: 0 45px;
}

/* @end */

/* @group Sidebar Container */

#sidebarContainer {
	position: relative;
	z-index: 10;
	background-color: transparent;
}

#sidebarContainer #sidebar {
	text-align: left;
	padding-bottom: 20px;
	color: #999;
	font: 85%/1.50em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#sidebarContainer .sideHeader {
	text-align: left;
	color: #999;
	font: bold 90%/1.50em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
}

/* @end */

/* @group Nav TOC */

#navtoc {
	display: none;
}

/* @end */

/* @group Blog */

.blog-archive-background {
}

.blog-entry-summary {
	margin-bottom: 15px;
}
.blog-archive-headings-wrapper {
	border-bottom: 1px solid;
}

.blog-archive-entries-wrapper {
}

.blog-archive-entries-wrapper .blog-entry {
}.blog-archive-month {
	font-size: 2.2em;
	letter-spacing: -1px;
}

.blog-archive-link {
}.blog-archive-link a:link, .blog-archive-link a:visited {
}

ul.blog-tag-cloud {
	margin: 0px;
	padding: 0px;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {	
	font-size: 0.8em;
}

.blog-tag-size-2 {	
	font-size: 0.85em;
}

.blog-tag-size-3 {	
	font-size: 0.9em;
}

.blog-tag-size-4 {	
	font-size: 0.95em;
}

.blog-tag-size-5 {	
	font-size: 1em;
}

.blog-tag-size-6 {	
	font-size: 1.05em;
}

.blog-tag-size-7 {	
	font-size: 1.1em;
}

.blog-tag-size-8 {	
	font-size: 1.15em;
}

.blog-tag-size-9 {	
	font-size: 1.2em;
}

.blog-tag-size-10 {	
	font-size: 1.25em;
}

.blog-tag-size-11 {	
	font-size: 1.3em;
}

.blog-tag-size-12 {	
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {	
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {	
	font-size: 1.55em;
}

.blog-tag-size-17 {	
	font-size: 1.6em;
}

.blog-tag-size-18 {	
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {	
	font-size: 1.75em;
}

/* Blog entries */

.blog-entry {
	padding-bottom: 30px;
}

.blog-entry-title {
	font-size: 175%;
	line-height: 1.10em;
	font-weight: normal;
	margin: 0px;
display: block;
border: none;
}

.blog-entry-title a {
	text-decoration: none;
}

.blog-entry-date {
	padding-bottom: 10px;
	display: block;
	font-weight: normal;
	font-style: normal;
	font-size: 80%;
}

.blog-read-more {
	display: inline;
	padding-top: 15px;
	font-style: italic;
}

.blog-entry-body {
}

.blog-entry-comments {
	display: inline;
	font-size: 80%;
}

p.blog-entry-tags {
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 80%;
	padding: 0;
	margin: 15px 0 0;
}

/*styles the category link in the main entry */
.blog-entry-category a {
	font-weight: normal;
	padding: 0;
	margin: 0;
}

.blog-entry-category a:link, .blog-entry-category a:visited {
}

#blog-archives br,
#blog-categories br,
#blog-rss-feeds br {
	display: none;
}

/* styles the archives in the blog sidebar */
#blog-archives {
	margin-bottom: 15px;
}

.blog-archive-link-enabled {
	background-repeat: no-repeat;
	display: block;
}

.blog-archive-link-disabled {
	background-repeat: no-repeat;
	display: block;
}

/* Styles the blog categories in the blog sidebar */
#blog-categories {
	padding-bottom: 15px;
}

.blog-category-link-enabled {
	display: block;
}

.blog-category-link-disabled {
	display: block;
}

/* Styles the blog RSS feeds in the blog sidebar */
#blog-rss-feeds {
	margin-top: 10px;
	line-height: 2.00em;
	display: block;
}

.blog-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/rss_icon.png);
	background-position: left center;
	padding-left: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
	display: block;
}

.blog-comments-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/rss_icon.png);
	background-position: left center;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}


/* @end */

/* @group File Sharing */

.filesharing-description {
}

.filesharing-item {
	padding-top: 15px;
}

.filesharing-item-title a:link {
	font-weight: normal;
}

.filesharing-item-title a:hover {
}

.filesharing-item-title a:visited {

}

.filesharing-item-description {
}

/* @end */

/* @group Photo Album */

.album-title {
	font-weight: bold;
}

.album-description {
	margin-bottom: 30px;
}


.album-wrapper {
	display: block;
	width: auto;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 20px;
}

.thumbnail-frame {
	position: absolute;
    bottom: 0;
    left: 0;
}

.thumbnail-frame:hover {
}

.thumbnail-frame a {
}

.thumbnail-frame a:hover {
	background: transparent;
}

.thumbnail-frame img {
	margin: auto;
	padding: 1px;
}

.thumbnail-caption {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 38px;
	display: block;
}

/* Single Page (Photo view) */
.photo-background {
	text-align: left;
}

.photo-navigation {
	width: 200px;
	float: left;
	margin: 15px 15px 0;
	background: #fff;
	padding: 15px;
}

.photo-links {
	padding-top: 15px;
}

.photo-navigation a:link,
.photo-navigation a:visited {
}

.photo-navigation a:hover {
	background: transparent;
}

.photo-frame {
	border: 3px solid;
	padding: 1px;
	position: absolute;
	left: 260px;
	top: 15px;
}

.photo-title {
	margin: 0;
	font-size: 1.5em;
	font-weight: normal;
}

.photo-caption {
	margin: 0;
	font: italic normal 1em Georgia, "Times New Roman", Times, serif;
}

.exif-data {
	clear: left;
	margin: 0 0 0 15px;
	padding: 0 15px 15px;
	float: left;
	width: 200px;
	background: #fff;
}

.exif-data p {
	margin: 0;
	padding: 0;
}

p.exif-version {
}

p.exif-colour-space {
}

p.exif-focal-length {
}

p.exif-dimensions {
}

p.exif-pixel-y-dimension {
}

p.exif-pixel-x-dimension {
}

p.exif-oecf-value {
}

p.exif-subsec-time-original {
}

p.exif-exposure-mode {
}

p.exif-spatial-frequency-response {
}

p.exif-scene-capture-type {
}

p.exif-subject-location {
}

p.exif-shutter-speed {
}

p.exif-datetime-original {
}

p.exif-subsec-time {
}

p.exif-compressed-bits-per-pixel {
}

p.exif-flash-energy {
}

p.exif-saturation {
}

p.exif-brightness {
}

p.exif-exposure-time {
}

p.exif-f-number {
}

p.exif-file-source {
}

p.exif-gain-control {
}

p.exif-subject-area {
}

p.exif-cfa-pattern {
}

p.exif-scene-type {
}

p.exif-white-balance {
}

p.exif-flash {
}

p.exif-exposure-index {
}

p.exif-flashpix-version {
}

p.exif-device-setting-description {
}

p.exif-focalplane-x-resolution {
}

p.exif-image-uniqueid {
}

p.exif-components-configuration {
}

p.exif-light-source {
}

p.exif-sensing-method {
}

p.exif-aperture {
}

p.exif-sharpness {
}

p.exif-exposure-program {
}

p.exif-subject-distance {
}

p.exif-subsec-time-digitized {
}

p.exif-contrast {
}

p.exif-focalplane-resolution-unit {
}

p.exif-gamma {
}

p.exif-35mm-focal-length {
}

p.exif-datetime-digitized {
}

p.exif-subject-distance-range {
}

p.exif-custom-rendered {
}

p.exif-max-aperture {
}

p.exif-sound-file {
}

p.exif-metering-mode {
}

p.exif-spectral-sensitivity {
}

p.exif-exposure-bias {
}

p.exif-focalplane-y-resolution {
}

p.exif-iso-rating {
}

p.exif-maker-note {
}

p.exif-digital-zoom-ratio {
}

p.exif-user-comment {
}


/* @end */

/* @group Movie Album */

.movie-description {
}
	
/* Quicktime Album Movie Thumbnail view */
.movie-page-title {
	font-weight: bold;
}.movie-page-description {
	padding-bottom: 15px;
}.movie-thumbnail-frame {
	width: 132px;
	height: 132px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.movie-thumbnail-frame:hover {
}

.movie-thumbnail-frame img {
	padding: 1px;
	border: 3px solid;
	margin-bottom: 5px;
}

.movie-thumbnail-caption {
}
	
/* Single Page (Movie View) */
.movie-background {
	margin: 10px;
}

.movie-title {
	font-size: 2.2em;
	letter-spacing: -1px;
	font-weight: normal;
	margin: 0;
}

.movie-frame {
}

/* @end */



/* @group Contact Form */

.message-text {
	
}

.required-text {
	
}

.form-input-field {
	font-size: 1.5em;
}

.form-input-button {
	font-size: 1.5em;
}

/* @end */